.checkbox
{
    display: none;
}
.reply {
   position: relative;
   padding: 20px;
   text-align: left;

}
.content {
  font-size: 36px;
  margin-left: 400px;
}
.Question h3 {
  font-size: 56px;
    /* margin-top: 76px; */
    padding-top: 50px;
    text-shadow: 3px 2px 4px #D194FD;
    color: #FC92B5;
}
.Question p {
  margin-top: 9px;
    margin-left: 38%;
    margin-right: 16%;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
}
.tick
{
    position: absolute;
    top: 50%;
    /* right: 0; */
    left: 30%;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background-color: #D194FC;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: 0 7px 10px #ffbeb8;
    cursor: pointer;
    transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
    overflow: hidden;
    z-index: 1;
}

.tick:before
{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    background-color: #fff;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: inset 0 7px 10px #ffbeb8;
    transition: 0.2s ease width, 0.2s ease height;
}

.tick:hover:before
{
    width: 25px;
    height: 25px;
    box-shadow: inset 0 7px 10px #ff9d96;
}

.tick:active
{
    transform: translateY(-50%) scale(0.9);
}
.Question {
  margin: 60px 100px;
  box-shadow: 5px 5px 11px 4px #D194FC;
  padding-bottom: 50px;

}
#tick_mark
{
    position: absolute;
    top: 4px;
    right: 0;
    left: -4px;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    margin-left: 14px;
    transform: rotateZ(-40deg);
}

#tick_mark:before, #tick_mark:after
{
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
    opacity: 0;
    transition: 0.2s ease transform, 0.2s ease opacity;
}

#tick_mark:before
{
    left: 0;
    bottom: 0;
    width: 5px;
    height: 15px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.23);
    transform: translateY(-34px)
}

#tick_mark:after
{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.23);
    transform: translateX(37px)
}

.checkbox:checked + .tick
{
    background-color: #07d410;
    box-shadow: 0 7px 10px #92ff97;
}

.checkbox:checked + .tick:before
{
    width: 0;
    height: 0;
}

.checkbox:checked + .tick #tick_mark:before, .checkbox:checked + .tick #tick_mark:after
{
    transform: translate(0);
    opacity: 1;
}